<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>emailTemplate</title>
</head>

<body>
	<div style="border:1px solid #ccc;width:750px; min-height:500px; margin:0 auto; font-size:14px;padding:15px 15px 0 15px;">
        <div style="border-bottom:1px solid #5b5b5b; height:40px; line-height:40px;padding: 0 10px;">
            <img style="float:left; " src="{webUrl}images/emai_logo.gif" width="120" height="35" />
            <a target="_blank" style="float:right; color: #006699;" href="#">联系我们</a>
            <div style="clear:both;">
            </div>
        </div>
        <div style="padding: 0 10px">
            <p><strong>尊敬的用户，</strong></p>
            {content}
            <p>如无法点击，请手动复制以上链接，粘贴至浏览器打开。</p>
            <p>如果非本人操作，请忽略本邮件。</p>
            <p>了解更多分销商事宜，可访问：<a target="_blank" style="color: #006699;" href="http://fenxiao.valsun.cn">fenxiao.valsun.cn</a></p>
            <p>如有任何疑问，请联系华成云商客服，客服热线：4009902663</p>
        </div>
        <div style="padding:0 10px; margin:50px 0">
            <img style="float:left; margin-right:10px; margin-top:6px;" src="{webUrl}images/weixin.gif" width="120" height="88" />
            <div style="float:left; line-height:7px; color:#5d5d5d;">
                <p style="font-size:16px; font-weight:bold;">官方微信</p>
                <p>推荐您关注华成云商赛维网络官方微信订阅号</p>
                <p>随时、随地获取最新跨境电商资讯</p>
                <p>也可微信搜索服务号“sailvan“或“赛维网络-电商”</p>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div style=" padding-bottom:10px;text-align:center; font-size:12px; margin-top:50px;">
            这是一封系统邮件，请勿直接回复。
        </div>
        <div style="text-align:center; font-size:12px; border-top:1px solid #ccc;line-height:5px;">
            <p>版权所有Copyright©深圳市华成云商信息科技有限公司 粤ICP备12055809</p>
            <p>地址:广东省深圳市龙岗区平湖华南城1号交易广场6楼 联系电话:4009902663</p>
        </div>
    </div>
</body>
</html>
