<!DOCTYPE html>
<html>
    
    <head>
        <title>订单列表</title>
        <meta charsert="utf-8"/>
        <!-- Bootstrap -->
        <link href="{$smarty.const.TPL}/public/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    </head>
    
    <body>
        {include file="headerInner.html"}
        <!-- Button trigger modal -->
        <div class="container-fluid">
            <div class="row-fluid">
                {include file="product/category/leftNav.html"}
                <div class="row">
                <!--/span-->
                <div class="span9" id="content">
                     <!--/span-->
                       <div class="row-fluid">
                          <!-- block -->
                          <!-- /block -->
                      </div>
                  </div>
                </div>
            </div>
            {include file="user/footer.html"}
        </div>
        <!--/.fluid-container-->
        <script>
        $(function() {
        });
        </script>
    </body>

</html>