<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    
    <meta charset="utf-8">
    <title>维库weclu 卖家平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="weclu卖家平台 是一款专为卖家量身定制的系统，旨在提高卖家在店铺中的各个销售环节的效率。卖家不用担心没有产品、添加产品麻烦、回复邮件繁琐。">
    <meta name="keywords" content="weclu卖家平台，我是卖家、分销商、网店、店主">
    <meta name="author" content="weclu卖家网">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="weclu.com">
    
    <!-- Site CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://static.bootcss.com/www/assets/css/site.min.css?v3" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.min.js?v=1a553d7d23"></script>
      <script src="/assets/js/respond.min.js?v=1a553d7d23"></script>
    <![endif]-->
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="/favicon.ico">
    
    <script>
      var _hmt = _hmt || [];
    </script>
    
    
  </head>
  <body class="home-template">
    {include file="headerOuter.html"}

    <div class="jumbotron masthead" style="background:url(/assets/img/pattern/pool_table.png) repeat;">
      <div class="container">
        <h1>维库weclu 卖家平台</h1>
        <h2>我们最懂您，专为卖家提供整套免费的系统服务，使您打理店铺轻松简单</h2>
        <h3>日订单处理： 232806 单</h3>
        <h3>已服务卖家： 3588 家</h3>
        <h3>已入驻供应商： 203 家</h3>
        <p class="masthead-button-links">
          <a class="btn btn-lg btn-primary btn-shadow" href="/login/login" target="_blank" role="button">马上加入</a>
        </p>
        <ul class="masthead-links">
          <li>
            <a href="/login/register" target="_blank" role="button">还不是weclu卖家，去注册</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="bc-social">
    <div class="container">
      <ul class="bc-social-buttons">
        <li class="social-qq">
          <i class="fa fa-qq"></i> weclu卖家交流群：104225728
        </li>
        <li class="social-forum">
          <a class="" href="http://forum.huanhuan365.com" title="weclu问答社区" target="_blank">
            <i class="fa fa-comments"></i> Weclu问答社区
          </a>
        </li>
        <li class="social-weibo">
          <a href="#" title="Bootstrap中文网官方微博" target="_blank"><i class="fa fa-weibo"></i> 新浪微博：@环环网</a>
        </li>
      </ul>
    </div>
  </div>



    <div class="container projects">

      <div class="projects-header page-header">
        <h2>weclu实现店铺高效管理，操作简单</h2>
        <p>我们还为你提供了这些激动人心的功能</p>
      </div>

      <div class="row">

        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="#"><img class="lazy" src="/images/homepage/cloude.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="#">云仓</a>
              </h3>
              <p>
              维库，就是你的云端仓库，高效管理产品的采购，库存，预警，出库，入库
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="#"><img class="lazy" src="/images/homepage/product.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="#">产品分销</a>
              </h3>
              <p>
              weclu 集合众多供应链，类别、品牌齐全：一键挑选产品、高质量 价格低廉 。同时您的产品也可以分销给其他卖家
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="#"><img class="lazy" src="/images/homepage/shop.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="#">店铺搬家</a>
              </h3>
              <p>
              店铺产品轻松转移，跟卖就是一句话 
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="#"><img class="lazy" src="/images/homepage/listing.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="#"  target="_blank">一键铺货</a>
              </h3>
              <p>
              繁琐重复的工作还是交给系统吧，您只需要选品和优化就够了
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="#"><img class="lazy" src="/images/homepage/order.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="#">订单自动化</a>
              </h3>
              <p>
              自动抓取，自动上传跟踪号，让订单处理更加的简便，自动监控订单的整个生命周期 
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="http://wclop.com/index/index" target="_blank"><img class="lazy" src="/images/homepage/auto_send.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="http://wclop.com/index/index" target="_blank">快速发货</a>
              </h3>
              <p>
             缩短订单处理时间快速发货，一键推送到指定的物流公司，订单配送全线跟踪
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="#"><img class="lazy" src="/images/homepage/message.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="#">消息管理</a>
              </h3>
              <p>
              邮件处理不再繁琐，多模板，多场景，智能提醒，自动回复
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="#"><img class="lazy" src="/images/homepage/finance.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="#">财务明细</a>
              </h3>
              <p>
              能让你清晰的知道财务情况，不放过一分钱的利润 
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="#"><img class="lazy" src="/images/homepage/datas.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="#">数据挖掘</a>
              </h3>
              <p>
              时刻掌握业界热卖，品类热卖
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="#"><img class="lazy" src="/images/homepage/shop_site.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="#">独立商城</a>
              </h3>
              <p>
              拥有自己的独立商城将不再受制于平台的规则，自己的地盘自己做主，同时我们会为您提供推广解决方案
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="http://forum.huanhuan365.com/forum.php" target="_blank"><img class="lazy" src="/images/homepage/community.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="http://forum.huanhuan365.com/forum.php" target="_blank">卖家经验交流</a>
              </h3>
              <p>
              业内人的经历和经验很值得学习和了解，建议您在这个社区中多分享，多阅读，多问
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="thumbnail">
            <a href="#"><img class="lazy" src="/images/homepage/study.png" width="300" height="150"></a>
            <div class="caption">
              <h3> 
                <a href="#">卖家培训</a>
              </h3>
              <p>
              营销是一种技巧，不断的进取才是成功之道
              </p>
            </div>
          </div>
        </div>

</div>
</div><!-- /.container -->
    
    {include file='footer.html'}
    
  </body>
</html>
